{% extends 'base.html' %}
{% load static %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock link %}

{% block content %}
<div class="profil satu tengah">
    <h3>About Me</h3>
    <div class="garis"></div>

        
        <img  class = "gambar1" src="{% static 'img/chitanda.jpg' %}">
        <div class="saya">
            <p>Seorang mahasiswa sains data dari Universitas Airlangga, kesukaan saya adalah mencari hal baru dan nonton anime (karakter fav saya tentu Chitanda hehe). 
                website ini cuma untuk belajar dan menunaikan rasa penasaran saya aja hehe. selamat menikmati!!</p>
    
        </div>


</div>
<div class="profil dua kiri">
    <h3>Contact</h3>
    <div class="garis"></div>

        
        <img  class = "gambar1" src="{% static 'img/chitanda.jpg' %}">
        <div class="saya kontak">
           <table>
               <tr>
                   <td><img src="{% static 'img/facebook.png' %}"></td>
                   <td><span>RafikS</span></td>
               </tr>
               <tr>
                   <td><img src="{% static 'img/instagram.png' %}"></td>
                   <td><span>rafiksept</span></td>
               </tr>
               <tr>
                   <td><img src="{% static 'img/telegram.png' %}"></td>
                   <td><span>rafik2809</span></td>
               </tr>
           </table>
        </div>


</div>
<div class="profil tiga kanan">
    <h3>Quotes</h3>
    <div class="garis"></div>
    
        
        <img  class = "gambar1" src="{% static 'img/chitanda.jpg' %}">
        <div class="saya">
            <p>
                "Sekai wa zankoku da sore demo kimi wo aisu yo Nani wo gisei ni shitemo sore demo kimi wo mamoru yo Machigai da to shitemo utagattari shinai Tadashisa to wa jibun no koto tsuyoku shinjiru koto da"
            </p>
    
        </div>

</div>

<script src="{% static 'js/about.js' %}"></script>
{% endblock content %}