{% extends "base.html" %}
{% load static %}
{% block title %}
Profile
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/profile_semua.css' %}">
{% endblock link %}
{% block content %}
<div class="wrapper">
    <h2>PROFIL</h2>
    <div class="garis"></div>
    <div class="foto">
        <img src="{{gambar.foto.url}}">
    </div>
    <div class="ubah-profil">
        <form method="post" enctype ="multipart/form-data">
            {% csrf_token %}
            {{form.foto}}
            <br>
            <button type="submit">Kirim</button>
        </form>

    </div>
    <div class="profil">
        <table>
            <tr>
                <td>Username</td>
                <td>: {{user}}</td>
            </tr>
            <tr>
            <tr>
                <td>Login</td>
                <td>: {{user.last_login}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>: {{user.email}}</td>
            </tr>
            <tr>
                <td>Jumlah Postingan &nbsp  </td>
                <td>: {{postingan}}</td>
            </tr>
            <tr>
                <td>Stress Kamu</td>
                <td>: {{mean}}%</td>
            </tr>
            
        </table>
    </div>
</div>
{% endblock content %}