{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
        <div class="masuk">
            <h2>Register</h2>

            <form method="post">
                {% csrf_token %}
                {{register_form.username.label_tag}}
                {{register_form.username}}
                {{register_form.username.help_text}}
                {{register_form.username.errors}}
                <br>
                {{register_form.email.label_tag}}
                {{register_form.email}}
                {{register_form.email.help_text}}
                <br>
                
                {{register_form.password1.label_tag}}
                {{register_form.password1}}
                <br>
                {{register_form.password2.label_tag}}
                {{register_form.password2}}
                {{register_form.password2.help_text}}
                {{register_form.password2.errors}}
                <button type="submit">Submit</button>
                
            </form>

            <p class="lupa-akun"><a href="{% url 'login' %}">&#60; Login</a> </span></p>

        </div>
</body>
</html>